.orders-page {
  max-width: 60%;
  padding: 0px 20px;
  margin: 90px auto;
}

.orders-page .page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.order-header {
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.order-header-left-section {
  display: flex;
  flex-shrink: 0;
}

.order-header-label {
  font-weight: 700;
}

.order-date,
.order-total {
  margin-right: 45px;
}

.order-header-right-section {
  flex-shrink: 1;
}

/* orders  */
.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(222, 222, 222);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: grid;
  grid-template-columns: 130px 1fr;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}

.order-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* item details  */
.product-image-container {
  text-align: center;
}

.product-image-container img {
  max-width: 150px;
  max-height: 150px;
}

.product-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.product-delivery-date {
  margin-bottom: 3px;
}

.product-quantity {
  margin-bottom: 8px;
}

.buy-again-button {
  font-size: 14px;
  width: 140px;
  height: 36px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 115, 232);
  color: #fff;
}

.buy-again-icon {
  width: 20px;
  margin-right: 10px;
}

.product-actions {
  align-self: start;
}

.track-package-button {
  width: 300px;
  font-size: 14px;
  padding: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Reponsive  */

@media (max-width: 675px) {
  .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .order-header-left-section {
    flex-direction: column;
  }

  .order-header-label {
    margin-right: 5px;
  }

  .order-date,
  .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

/* items  */

@media (max-width:1000px) {
  .orders-page {
    max-width: 90%;
  }
}

@media (max-width:800px) {
  .orders-page {
    max-width: 100%;
  }

  .order-details {
    flex-direction: column;
    gap: 0px;
  }

  .order-product-details {
    padding-top: 30px;
  }
}

@media (max-width:600px) {
  .order-details-grid {
    gap: 5px;
    padding: 10px 10px;
  }
}

@media (max-width: 400px) {
  .order-details-grid {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 900px){
  .product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

}

@media (max-width: 900px) {
  .buy-again-button {
    margin-bottom: 10px;
  }

  .product-actions {
    margin-bottom: 30px;
  }

  .track-package-button {
    width: 140px;
  }
}

@media (max-width: 700px) {
  .buy-again-button {
    width: 120px;
    margin-bottom: 10px;
  }

  .track-package-button {
    width: 120px;
  }
}

@media (max-width: 400px) {
  .product-image-container {
    margin-bottom: 25px;
  }

  .orders-page .product-name {
    margin-bottom: 10px;
  }

  .product-quantity {
    margin-bottom: 15px;
  }

  .buy-again-button {
    width: 120px;
    margin-bottom: 15px;
  }

  .product-actions {
    margin-bottom: 70px;
  }

  .track-package-button {
    width: 100%;
    padding: 12px;
  }
}